body {
text-align:center;
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.s1_timer {
    bcolor: #fff;
    font-size: 4em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 
        0 2px 0 #c9c9c9, 
        0 3px 0 #bbb, 
        0 4px 0 #b9b9b9, 
        0 5px 0 #aaa, 
        0 6px 1px rgba(0,0,0,.1), 
        0 0 5px rgba(0,0,0,.1), 
        0 1px 3px rgba(0,0,0,.3), 
        0 3px 5px rgba(0,0,0,.2), 
        0 5px 10px rgba(0,0,0,.25), 
        0 10px 10px rgba(0,0,0,.2), 
        0 20px 20px rgba(0,0,0,.15);
}
/*https://codepen.io/cathydutton/pen/GBcvo*/


#Stopwatch3 {
    font-family: 'Qwigley', cursive;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

#container2 {
    background: #73AD21;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height:100%;
}

.button_base:hover {
    cursor: pointer;
}


/* https://codepen.io/bartekd/pen/qFsDf */
.b01_simple_rollover {
    color: #ffffff;
    border: #ffffff solid 1px;
    padding: 10px;
    background-color: ##73AD21;
    width: 100px;
    margin: auto;
}

.b01_simple_rollover:hover {
    color: #ffffff;
    background-color: #000000;
}

#s2_timer {
    font-size: 40pt;
}

#Stopwatch2 {
    width: 800px;
    margin: 30px auto;
    color: #ffffff;
}

.s3_stop {
    font-family: "Times New Roman", Times, serif;
}